pm_api_url=""
pm_api_token_id=""
pm_api_token_secret=""
target_node=""
adguard_home_vm_pass=""
docker_swarm_manager_vm_pass=""
docker_swarm_worker_1_vm_pass=""
docker_swarm_worker_2_vm_pass=""
docker_swarm_worker_3_gpu_vm_pass=""
