# Setup internal-apps
---
- name: Update Server
  hosts: internal-apps
  become: true
  roles:
    - role: debian_update
  tags: debian_update

- name: Install Docker
  hosts: internal-apps
  become: true
  roles:
    - role: geerlingguy.docker
  tags: install_docker

- name: Install Traefik
  hosts: traefik
  tasks:
    - name: Check if traefik is on the machine
      ansible.builtin.stat:
        path: /traefik
      register: traefik_status

    - name: Display message if traefik is on the machine
      ansible.builtin.debug:
        msg: "The directory /traefik exists."
      when: traefik_status.stat.exists and traefik_status.stat.isdir

    - name: Tear down existing services
      community.docker.docker_compose_v2:
        project_src: /traefik
        state: absent
      when: traefik_status.stat.exists

    - name: Copy traefik to remote machine
      ansible.builtin.copy:
        src: ../../../applications/traefik  # Copies contents of the directory
        dest: /

    - name: Create and start services
      community.docker.docker_compose_v2:
        project_src: /traefik
      register: output

    - name: Show results
      ansible.builtin.debug:
        var: output
  tags: install_traefik
