# Setup Traefik
---
- name: Update Server
  hosts: traefik
  become: true
  roles:
    - role: debian_update
  tags: debian_update

- name: Install Docker
  hosts: traefik
  become: true
  roles:
    - role: geerlingguy.docker
  tags: install_docker

- name: Added ssh key
  hosts: traefik
  tasks:
    - name: Copy traefik_docker_key to remote machine
      ansible.builtin.copy:
        src: ../../../applications/traefik/ssh/traefik_docker_key # Copies contents of the directory
        dest: ~/.ssh/

    - name: Set private key permissions to 600
      ansible.builtin.file:
        path: ~/.ssh/traefik_docker_key
        mode: '0600' # Quoted octal for safety
        state: file
  tags: add_ssh_key

- name: Install Traefik
  hosts: traefik
  tasks:
    - name: Check if traefik is on the machine
      ansible.builtin.stat:
        path: /traefik
      register: traefik_status

    - name: Display message if traefik is on the machine
      ansible.builtin.debug:
        msg: "The directory /traefik exists."
      when: traefik_status.stat.exists and traefik_status.stat.isdir

    - name: Tear down existing services
      community.docker.docker_compose_v2:
        project_src: /traefik
        state: absent
      when: traefik_status.stat.exists

    - name: Copy traefik to remote machine
      ansible.builtin.copy:
        src: ../../../applications/traefik/docker/ # Copies contents of the directory
        dest: /traefik

    - name: Create and start services
      community.docker.docker_compose_v2:
        project_src: /traefik
      register: output

    - name: Show results
      ansible.builtin.debug:
        var: output
  tags: install_traefik


- name: Install whoami
  hosts: traefik
  tasks:
    - name: Check if whoami is on the machine
      ansible.builtin.stat:
        path: /whoami
      register: whoami_status

    - name: Display message if whoami is on the machine
      ansible.builtin.debug:
        msg: "The directory /whoami exists."
      when: whoami_status.stat.exists and whoami_status.stat.isdir

    - name: Tear down existing services
      community.docker.docker_compose_v2:
        project_src: /whoami
        state: absent
      when: whoami_status.stat.exists

    - name: Copy whoami to remote machine
      ansible.builtin.copy:
        src: ../../../applications/whoami/docker/ # Copies contents of the directory
        dest: /whoami

    - name: Create and start services
      community.docker.docker_compose_v2:
        project_src: /whoami
      register: output

    - name: Show results
      ansible.builtin.debug:
        var: output
  tags: install_whoami
